@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .progress {
    width: 100%;
    appearance: none;
    overflow: hidden;
    height: 6px;
    border-radius: 3px;
    background-color: #c7c9c8;
  }

  .progress::-webkit-progress-value {
    transition: width 300ms linear;
    background: #4b4e51;
    border-radius: 3px;
  }
}
